# Ignore node_modules (Frontend)
node_modules
npm-debug.log
.yarn

# Ignore Python virtual env (Backend)
venv
*.pyc
__pycache__

# Ignore Git
.git
.gitignore

# Ignore Docker Compose & Local Files
.dockerignore
Dockerfile
docker-compose.yml
